<!DOCTYPE html>
<html lang="en">

<head>
  {{>headerLinks}}

</head>

<body>
  {{>navbar}}


  <div class="container form-container">
    <h2>Registration form</h2>
    <form action="/register" method="POST">
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
      </div>
      <div class="form-group">
        <label for="pwd">Password:</label>
        <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pswd">
      </div>
      <div class="form-group">
        <label for="pwd">confirm password:</label>
        <input type="password" class="form-control" id="pwd" placeholder="confirm password" name="cPswd">
      </div>
      <div class="form-group form-check">
        <label class="form-check-label">
          <input class="form-check-input" type="checkbox" name="remember"> Remember me
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="gender" id="exampleRadios1" value="option1" checked>
        <label class="form-check-label" for="exampleRadios1">
          male
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="gender" id="exampleRadios2" value="option2">
        <label class="form-check-label" for="exampleRadios2">
          female
        </label>
      </div>

  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  </div>



</body>

</html>